* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	width: 100%;
}

/* For smooth scrolling to section anchors */
:target {
	scroll-margin-top: 80px;
}
